/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
.hf{
  font-family :'Comic Neue', cursive;
}
@font-face {
    font-family: JetBrains;
    src: url(assets/JetBrainsMono-Italic.ttf);
}
@font-face {
    font-family: Jet;
    src: url(assets/JetBrainsMono-Regular.ttf);
}
@font-face{
  font-family: pac;
  src: url(assets/Pacifico-Regular.ttf);
}
@font-face{
  font-family: raj;
  src: url(assets/Rajdhani-Regular.ttf);
}
@font-face{
  font-family: har;
  src: url(assets/HARRYP__.TTF);
}
.har{
  font-family: har;
}
.raj{
  font-family: raj;
}
.pa{
  font-family: pac;
}
.ft{
    font-family: JetBrains;
}
.rt{
  font-family: Jet;
}

